#map {
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  width: calc(100% - 250px);
  touch-action: none;
  overflow: hidden;
}
.map-overlay2 {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #f5f5f533;
  max-height: 100%;
  overflow: hidden;
  padding: 5px;
  z-index: 20;
}
.mapboxgl-ctrl-top-right {
  top: 0px !important;
  right: 10px !important;
}
.MuiSlider-root {
  color: #545454 !important;
  animation: myAnim 4s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  50%,
  70%,
  100% {
    opacity: 1;
  }

  85% {
    opacity: 0.4;
  }
}
#imgComp {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
}
.map-overlay2 fieldset {
  display: none;
  background: #f6f6f6;
  border: none;
  padding: 10px;
  margin: 0;
}
.mapToggler {
  position: fixed;
  z-index: 20;
  width: 33px;
  height: 33px;
  top: 46px;
  right: 17px;
  background-color: rgb(255 255 255);
  border: 2px solid #dbdcda;
  border-radius: 4px;
  overflow: hidden;
  color: rgb(26, 25, 25);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.admin {
  position: fixed;
  z-index: 19;
  width: auto;
  height: 33px;
  top: 9px;
  float: left;
  right: 57px;
  padding: 0 10px;
  background-color: rgb(255 255 255);
  border: 2px solid #dbdcda;
  border-radius: 4px;
  overflow: hidden;
  color: rgb(26, 25, 25);

  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.touch {
  position: fixed;
  z-index: 20;
  width: auto;
  height: 30px;
  top: 30px;
  float: left;
  left: 380px;
  padding: 0 10px;
  background-color: #0000003d;
  border-radius: 20px;
  overflow: hidden;
  color: rgb(251, 251, 251);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.deleted {
  position: fixed;
  z-index: 40;
  width: 256px;
  height: 40px;
  top: 50%;
  top: 50%;
  left: 50%;
  padding: 10 40px;
  background-color: #ae0f0f;
  border-radius: 20px;
  overflow: hidden;
  color: rgb(251, 251, 251);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete {
  position: fixed;
  z-index: 30;
  width: auto;
  height: 30px;
  top: 70px;
  left: 320px;
  padding: 0 10px;

  overflow: hidden;
  background-color: rgb(255 255 255);
  border: 2px solid #dbdcda;
  border-radius: 4px;
  color: rgb(26, 25, 25);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.edit {
  position: fixed;
  z-index: 30;
  width: auto;
  height: 30px;
  top: 110px;
  left: 320px;
  padding: 0 10px;

  overflow: hidden;
  background-color: rgb(255 255 255);
  border: 2px solid #dcd9d9;
  border-radius: 4px;
  color: rgb(26, 25, 25);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.map-overlay2 input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.map-overlay2 .listing {
  overflow: auto;
  max-height: 100%;
}

.map-overlay2 .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}
.swipeFinger {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100000;
  top: 50%;
  left: 47%;

  -webkit-animation: shake-horizontal 1.5s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 2 normal forwards,
    shrinker 0.3s ease 1.6s 1 normal forwards;
  animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 2
      normal forwards,
    shrinker 0.3s ease 1.6s 1 normal forwards;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%,
  60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  40%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  /* 80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  } */
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%,
  60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  40%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/* .shrinkSwiper {
  animation: shrinker 2.5s ease 1.5s 1 normal forwards;
} */
@keyframes shrinker {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);

    opacity: 0;
  }
}

.map-overlay2 .listing figure {
  position: relative;
  min-height: 170px;
  height: auto;
  width: 95%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(243, 241, 243);
  font-weight: 700;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.lightSlider span {
  color: white;
}
.map-overlay2 .listing figure div {
  box-sizing: border-box;
  top: 5px;
  left: 10px;
  position: relative;
  z-index: 10;
  margin-top: 5px;
  width: fit-content;
  height: auto;
  padding: 5px 14px;
  background-color: #00000059;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-overlay2 .listing figure:last-child {
  border: none;
}
#nemaFotografije {
  color: black;
}
/* .map-overlay .listing div:hover {
  background: #f0f0f0;
} */

@media only screen and (max-width: 850px) {
  .edit {
    position: fixed;
    z-index: 30;
    width: auto;
    height: 30px;
    top: 135px;
    left: 20px;
    padding: 0 10px;

    overflow: hidden;
    background-color: rgb(255 255 255);
    /* border: 2px solid #dcd9d9; */
    border-radius: 4px;
    color: rgb(26, 25, 25);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .map-overlay2 .listing figure div {
    box-sizing: border-box;
    top: 0px;
    left: 5px;
    position: relative;
    z-index: 10;
    margin-top: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    font-size: 9px;
    padding: 1px 7px;
    background-color: #00000059;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin {
    position: fixed;
    /* z-index: 20; */
    width: auto;
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    height: 33px;
    top: 28px;
    float: left;
    right: 47px;
    padding: 0 10px;
    background-color: rgb(255 255 255);
    /* border: 2px solid #dcd9d9; */
    border-radius: 4px;
    overflow: hidden;
    color: rgb(26, 25, 25);
  }
  .delete {
    position: fixed;
    z-index: 30;
    width: auto;
    height: 30px;
    top: 95px;
    left: 20px;
    padding: 0 10px;
    background-color: rgb(255 255 255);
    /* border: 2px solid #dcd9d9; */
    border-radius: 4px;
    color: rgb(26, 25, 25);
    overflow: hidden;

    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #map {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    height: calc(100% - 115px);
    width: 100%;
  }
  .map-overlay2 {
    position: fixed;
    height: 115px;
    width: 100%;
    top: unset;
    bottom: 0;
    left: unset;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #f5f5f533;
    max-height: 150px;
    overflow: hidden;
    padding: 1px;
  }
  #imageDiv {
    margin: 1px;
  }

  .map-overlay2 fieldset {
    display: none;
    background: #f6f6f6;
    border: none;
    padding: 10px;
    margin: 0;
  }
  .mapToggler {
    position: fixed;
    z-index: 19;

    overflow: hidden;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 33px;
    height: 33px;
    top: 67px;
    right: 8px;
    /* border: 2px solid #dcd9d9; */
    border-radius: 4px;
    color: rgb(26, 25, 25);
  }
  .mapboxgl-ctrl-top-right {
    top: 20px !important;
    right: 0 !important;
  }
  .swipeFinger {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 100000;
    top: 46%;
    left: 41vw;

    -webkit-animation: shake-horizontal 1.5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 2 normal forwards,
      shrinker 0.3s ease 1.6s 1 normal forwards;
    animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s
        2 normal forwards,
      shrinker 0.3s ease 1.6s 1 normal forwards;
  }
  .map-overlay2 input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
  }

  .map-overlay2 .listing {
    overflow: auto;
    max-height: 150px;
    width: 100%;
    display: flex;
  }

  .map-overlay2 .listing > * {
    display: block;
    padding: 0;
    margin: 0;
  }

  .map-overlay2 .listing figure {
    min-height: 110px;
    min-width: 170px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* color: rgb(58, 48, 38); */
    font-weight: 700;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px;
    border-radius: 4px;
  }

  .map-overlay2 .listing figure:last-child {
    border: none;
  }
  #nemaFotografije {
    color: black;
  }
}
